<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Adventurers. Explorers. Travelers. Wanderers. With every adventure we take, our cameras are there to document it. " />
  <meta name="author" content="The Wandering Photographers" />
  <meta name="keywords" content="photography, wandering, portfolio, United States" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>{{ site.name }}</title>
  <link rel="stylesheet" type="text/css" href="/css/reset-0.12.6.css" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <meta property="og:site_name" content="The Wandering Photographers" />
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta property="og:image:width" content="" />
  <meta property="og:image:height" content="" />
  <meta property="og:url" content="" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/app/site/themes/common/js/jquery.min.js"><\/script>')</script>
</head>
<body class="k-source-contents k-lens-contents">
  <div id="container">
  <header class="top">
  <div class="text">
  <h1>
    <a href="/">{{ site.name }}</a>
  </h1>
  </div>
  </header>
  <nav>
  <ul class="k-nav-list k-nav-root "><li><a title="Home" href="/">Home</a></li><li><a title="About" href="/about/">About</a></li><li><a title="Archive" href="/archive/">Archive</a></li><li><a title="Contribute" href="https://github.com/Cbeck527/the-wandering-photographers/blob/master/README.md">Contribute</a></li></ul>
</nav>
<div id="main-content">

  {{ content }}

</body>
</html>
